.h1 {color:darkblue}

.div1{
    font-family: 'Times New Roman', Times, serif;
}
.div2{
    font-weight: 300;
}
.div3{
    color: aqua
}


li{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

body{background-color: cornsilk;}

h2{
    color:blueviolet
}

h3{
    color:brown
}